# Data Preprocessing for LAEI 2019 Emissions Data

In this notebook, we will preprocess the LAEI 2019 emissions data by extracting relevant information from the **"Emissions by Grid ID"** sheet and filtering for the year 2019. The processed data will be saved to the `interim` folder, leaving the raw data intact.

---

## 1. Importing Necessary Libraries

We need `pandas` for data manipulation and `os` for handling file paths.

In [1]:
# Step 1: Import necessary libraries
import pandas as pd
import os

---

## 2. Defining File Paths and Variables

Define paths for the raw data and the output location for the processed data. We will also specify the sheet name and target year (2019) for filtering.

In [2]:
# Step 2: Define file paths and variables for RAW and Interim data
RAW_FILE_PATH = os.path.join('..', '..', 'data', 'raw', 'LAEI-2019-Emissions-Summary-including-Forecast.xlsx')
INTERIM_FILE_PATH = os.path.join('..', '..', 'data', 'interim', 'LAEI-2019-Emissions-2019-Only.xlsx')
# Save the processed data to the processed folder
PROCESSED_TRAIN_PATH = os.path.join('..', '..', 'data', 'processed', 'train_data.csv')
PROCESSED_TEST_PATH = os.path.join('..', '..', 'data', 'processed', 'test_data.csv')
SHEET_NAME = 'Emissions by Grid ID'
YEAR_COLUMN = 'Year'
TARGET_YEAR = 2019

---

## 3. Loading the "Emissions by Grid ID" Sheet

Load the **"Emissions by Grid ID"** sheet from the raw Excel file using `pandas`. Note: This can take a minute or so.

In [3]:
# Step 3: Load the "Emissions by Grid ID" sheet from the raw Excel file
raw_data = pd.read_excel(RAW_FILE_PATH, sheet_name=SHEET_NAME)
raw_data.head()  # Display the first few rows of the dataset

,Year,Grid ID 2019,LAEI 1km2 ID,Easting,Northing,Borough,Zone,Main Source Category,Sector,Source,...,n2o,nh3,nmvoc,nox,pb,pcb,pm10,pm2.5,so2,Emissions Unit
0,2030,1,5910,510500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.019183,0.019183,NaN,tonnes/annum
1,2030,2,5911,511500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.015719,0.015719,NaN,tonnes/annum
2,2030,3,5912,512500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.019878,0.019878,NaN,tonnes/annum
3,2030,4,5915,515500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.020946,0.020946,NaN,tonnes/annum
4,2030,5,5916,516500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.020105,0.020105,NaN,tonnes/annum

---

## 4. Filtering Rows for the Year 2019

We will now filter the dataset to keep only the rows where the year is 2019.

In [4]:
# Step 4: Filter rows to keep only data from 2019
filtered_data = raw_data[raw_data[YEAR_COLUMN] == TARGET_YEAR]
filtered_data.head()  # Display the first few rows of the filtered dataset

,Year,Grid ID 2019,LAEI 1km2 ID,Easting,Northing,Borough,Zone,Main Source Category,Sector,Source,...,n2o,nh3,nmvoc,nox,pb,pcb,pm10,pm2.5,so2,Emissions Unit
285264,2019,1,5910,510500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.021923,0.021923,NaN,tonnes/annum
285265,2019,2,5911,511500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.017965,0.017965,NaN,tonnes/annum
285266,2019,3,5912,512500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.022718,0.022718,NaN,tonnes/annum
285267,2019,4,5915,515500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.023939,0.023939,NaN,tonnes/annum
285268,2019,5,5916,516500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.022977,0.022977,NaN,tonnes/annum

---

## 5.1 Saving the Processed Data

The filtered data will be saved as a new Excel file in the `interim` folder.

In [5]:
# Step 5.1: Save the processed data to the interim folder as a new Excel file
with pd.ExcelWriter(INTERIM_FILE_PATH, engine='xlsxwriter') as writer:
    filtered_data.to_excel(writer, sheet_name=SHEET_NAME, index=False)

---

## 5.2. Confirming the Process 

Finally, display a confirmation message once the processed data is successfully saved.

In [6]:
# Step 5.2: Confirmation message
print(f"Processed data for the year {TARGET_YEAR} has been saved to {INTERIM_FILE_PATH}")

Processed data for the year 2019 has been saved to ..\..\data\interim\LAEI-2019-Emissions-2019-Only.xlsx

## Step 6: Dropping Irrelevant Columns
In this step, we'll remove irrelevant columns.  The columns noted are the only onese included from this point forward.

In [7]:
data = pd.read_excel(INTERIM_FILE_PATH)
columns_to_keep = [
    'Easting', 'Northing', 'Borough', 'Zone', 'Main Source Category', 
    'Sector', 'Source', 'nox', 'pm10', 'pm2.5', 'so2'
]
data = data[columns_to_keep]

# Display the structure of the dataset after encoding
data.head()

,Easting,Northing,Borough,Zone,Main Source Category,Sector,Source,nox,pm10,pm2.5,so2
0,510500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,NaN,0.021923,0.021923,NaN
1,511500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,NaN,0.017965,0.017965,NaN
2,512500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,NaN,0.022718,0.022718,NaN
3,515500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,NaN,0.023939,0.023939,NaN
4,516500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,NaN,0.022977,0.022977,NaN

### 7. Handling Missing Values

In this step, we'll handle missing data. Since the pollutant columns represent emissions, any missing values will be filled with `0`. This assumes that no emissions were recorded in those rows.

In [8]:
# Step 7: Handle missing values by filling them with 0 for emissions/pollutant columns
pollutant_columns = ['nox', 'pm10', 'pm2.5', 'so2']
data[pollutant_columns] = data[pollutant_columns].fillna(0)

# Check if there are any remaining missing values
data.isnull().sum

# Display the structure of the dataset
data.head()

,Easting,Northing,Borough,Zone,Main Source Category,Sector,Source,nox,pm10,pm2.5,so2
0,510500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,0.0,0.021923,0.021923,0.0
1,511500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,0.0,0.017965,0.017965,0.0
2,512500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,0.0,0.022718,0.022718,0.0
3,515500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,0.0,0.023939,0.023939,0.0
4,516500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,0.0,0.022977,0.022977,0.0

### 8. Encoding Categorical Variables

We will convert categorical variables such as `Borough`, `Zone`, and `Main Source Category` into numerical features using **one-hot encoding**. This step ensures that the machine learning models can understand the categorical data.

In [9]:
# Step 8: One-hot encode categorical features
categorical_columns = ['Borough', 'Zone', 'Main Source Category', 'Sector', 'Source']
# Check if all categorical columns are in the dataset
missing_columns = [col for col in categorical_columns if col not in data.columns]
if missing_columns:
    print(f"Missing columns for encoding: {missing_columns}")
else:
    # Apply one-hot encoding if all columns are present
    data = pd.get_dummies(data, columns=categorical_columns, drop_first=True)

# Display the structure of the dataset
data.head()

,Easting,Northing,nox,pm10,pm2.5,so2,Borough_Barnet,Borough_Bexley,Borough_Brent,Borough_Bromley,...,Source_Passenger Shipping,Source_Passengers,Source_Resuspension,Source_STW,Source_Small Private Vessels,Source_Small Scale Waste Burning,Source_Taxi,Source_TfL Bus,Source_WTS,Source_Wood Burning
0,510500,203500,0.0,0.021923,0.021923,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,511500,203500,0.0,0.017965,0.017965,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,512500,203500,0.0,0.022718,0.022718,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,515500,203500,0.0,0.023939,0.023939,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,516500,203500,0.0,0.022977,0.022977,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

### 9. Scaling Numerical Features

To prepare the data for machine learning models, we will scale the numerical features such as geographical coordinates and emissions data using **StandardScaler**. This ensures that all numerical features are on a similar scale.

In [10]:
from sklearn.preprocessing import StandardScaler

# Step 9: Normalize/Scale numerical data
scaler = StandardScaler()

# Numerical columns to scale
numerical_columns = ['Easting', 'Northing'] + pollutant_columns
data[numerical_columns] = scaler.fit_transform(data[numerical_columns])

# Check scaled data
data[numerical_columns].head()

    Easting  Northing      nox      pm10     pm2.5       so2
0 -1.323227  1.975203 -0.07177 -0.060867 -0.034793 -0.014359
1 -1.254351  1.975203 -0.07177 -0.066643 -0.058027 -0.014359
2 -1.185475  1.975203 -0.07177 -0.059707 -0.030128 -0.014359
3 -0.978846  1.975203 -0.07177 -0.057926 -0.022965 -0.014359
4 -0.909970  1.975203 -0.07177 -0.059330 -0.028609 -0.014359

### 10. Splitting the Data for Training and Testing

Next, we will split the dataset into **train** and **test** sets to prepare it for model training. 80% of the data will be used for training and 20% for testing.

In [11]:
from sklearn.model_selection import train_test_split

# Step 10: Split the data into train and test sets
X = data.drop(columns=pollutant_columns)  # Features (everything except pollutant columns)
y = data[pollutant_columns]  # Targets (pollutants)

# 80% for training, 20% for testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the training and testing datasets
X_train.shape, X_test.shape, y_train.shape, y_test.shape

# Display the structure of the dataset
data.head()

,Easting,Northing,nox,pm10,pm2.5,so2,Borough_Barnet,Borough_Bexley,Borough_Brent,Borough_Bromley,...,Source_Passenger Shipping,Source_Passengers,Source_Resuspension,Source_STW,Source_Small Private Vessels,Source_Small Scale Waste Burning,Source_Taxi,Source_TfL Bus,Source_WTS,Source_Wood Burning
0,-1.323227,1.975203,-0.07177,-0.060867,-0.034793,-0.014359,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,-1.254351,1.975203,-0.07177,-0.066643,-0.058027,-0.014359,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,-1.185475,1.975203,-0.07177,-0.059707,-0.030128,-0.014359,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,-0.978846,1.975203,-0.07177,-0.057926,-0.022965,-0.014359,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,-0.909970,1.975203,-0.07177,-0.059330,-0.028609,-0.014359,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

### 11. Saving the Processed Data

After all preprocessing steps (handling missing values, encoding categorical variables, scaling numerical data, and splitting into train/test sets), we will save the final processed dataset in the `data/processed/` folder for use in training machine learning models.

In [12]:
# Combine features and targets for train and test datasets
train_combined = pd.concat([X_train, y_train], axis=1)
test_combined = pd.concat([X_test, y_test], axis=1)

# Save the combined train and test datasets
train_combined.to_csv(PROCESSED_TRAIN_PATH, index=False)
test_combined.to_csv(PROCESSED_TEST_PATH, index=False)

# Confirm the process
print(f"Processed training data has been saved to: {PROCESSED_TRAIN_PATH}")
print(f"Processed test data has been saved to: {PROCESSED_TEST_PATH}")

Processed training data has been saved to: ..\..\data\processed\train_data.csv
Processed test data has been saved to: ..\..\data\processed\test_data.csv