# Data Preprocessing for LAEI 2019 Emissions Data

In this notebook, we will preprocess the LAEI 2019 emissions data by extracting relevant information from the **"Emissions by Grid ID"** sheet and filtering for the year 2019. The processed data will be saved to the `interim` folder, leaving the raw data intact.

---

## 1. Importing Necessary Libraries

We need `pandas` for data manipulation and `os` for handling file paths.

In [1]:
# Step 1: Import necessary libraries
import pandas as pd
import os

---

## 2. Defining File Paths and Variables

Define paths for the raw data and the output location for the processed data. We will also specify the sheet name and target year (2019) for filtering.

In [2]:
# Step 2: Define file paths and variables for RAW and Interim data
RAW_FILE_PATH = os.path.join('..', '..', 'data', 'raw', 'LAEI-2019-Emissions-Summary-including-Forecast.xlsx')
INTERIM_FILE_PATH = os.path.join('..', '..', 'data', 'interim', 'LAEI-2019-Emissions-2019-Only.xlsx')
# Save the processed data to the processed folder
PROCESSED_TRAIN_PATH = os.path.join('..', '..', 'data', 'processed', 'train_data.csv')
PROCESSED_TEST_PATH = os.path.join('..', '..', 'data', 'processed', 'test_data.csv')
SHEET_NAME = 'Emissions by Grid ID'
YEAR_COLUMN = 'Year'
TARGET_YEAR = 2019

---

## 3. Loading the "Emissions by Grid ID" Sheet

Load the **"Emissions by Grid ID"** sheet from the raw Excel file using `pandas`. Note: This can take a minute or so.

In [3]:
# Step 3: Load the "Emissions by Grid ID" sheet from the raw Excel file
raw_data = pd.read_excel(RAW_FILE_PATH, sheet_name=SHEET_NAME)
raw_data.head()  # Display the first few rows of the dataset

,Year,Grid ID 2019,LAEI 1km2 ID,Easting,Northing,Borough,Zone,Main Source Category,Sector,Source,...,n2o,nh3,nmvoc,nox,pb,pcb,pm10,pm2.5,so2,Emissions Unit
0,2030,1,5910,510500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.019183,0.019183,NaN,tonnes/annum
1,2030,2,5911,511500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.015719,0.015719,NaN,tonnes/annum
2,2030,3,5912,512500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.019878,0.019878,NaN,tonnes/annum
3,2030,4,5915,515500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.020946,0.020946,NaN,tonnes/annum
4,2030,5,5916,516500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.020105,0.020105,NaN,tonnes/annum

---

## 4. Filtering Rows for the Year 2019

We will now filter the dataset to keep only the rows where the year is 2019.

In [4]:
# Step 4: Filter rows to keep only data from 2019
filtered_data = raw_data[raw_data[YEAR_COLUMN] == TARGET_YEAR]
filtered_data.head()  # Display the first few rows of the filtered dataset

,Year,Grid ID 2019,LAEI 1km2 ID,Easting,Northing,Borough,Zone,Main Source Category,Sector,Source,...,n2o,nh3,nmvoc,nox,pb,pcb,pm10,pm2.5,so2,Emissions Unit
285264,2019,1,5910,510500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.021923,0.021923,NaN,tonnes/annum
285265,2019,2,5911,511500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.017965,0.017965,NaN,tonnes/annum
285266,2019,3,5912,512500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.022718,0.022718,NaN,tonnes/annum
285267,2019,4,5915,515500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.023939,0.023939,NaN,tonnes/annum
285268,2019,5,5916,516500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.022977,0.022977,NaN,tonnes/annum

---

## 5.1 Saving the Interim Processed Data

The filtered data will be saved as a new Excel file in the `interim` folder.

In [5]:
# Step 5.1: Save the processed data to the interim folder as a new Excel file
with pd.ExcelWriter(INTERIM_FILE_PATH, engine='xlsxwriter') as writer:
    filtered_data.to_excel(writer, sheet_name=SHEET_NAME, index=False)

---

## 5.2. Confirming the Process 

Finally, display a confirmation message once the processed data is successfully saved.

In [6]:
# Step 5.2: Confirmation message
print(f"Processed data for the year {TARGET_YEAR} has been saved to {INTERIM_FILE_PATH}")

Processed data for the year 2019 has been saved to ..\..\data\interim\LAEI-2019-Emissions-2019-Only.xlsx

## Step 6: Read Interim file and Dropping Irrelevant Columns
In this step, we'll read the new interim file and remove irrelevant columns.  The columns noted are the only onese included from this point forward.

In [7]:
data = pd.read_excel(INTERIM_FILE_PATH)
columns_to_keep = [
    'Easting', 'Northing', 'Borough', 'Zone', 'Main Source Category', 
    'Sector', 'Source', 'nox', 'pm10', 'pm2.5', 'so2'
]
data = data[columns_to_keep]

# Display the structure of the dataset after encoding
data.head()

,Easting,Northing,Borough,Zone,Main Source Category,Sector,Source,nox,pm10,pm2.5,so2
0,510500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,NaN,0.021923,0.021923,NaN
1,511500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,NaN,0.017965,0.017965,NaN
2,512500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,NaN,0.022718,0.022718,NaN
3,515500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,NaN,0.023939,0.023939,NaN
4,516500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,NaN,0.022977,0.022977,NaN

### 7. Handling Missing Values

In this step, we'll handle missing data more carefully based on the type of data:

- Pollutant columns (`nox`, `pm10`, `pm2.5`, `so2`) will still have missing values filled with `0`, assuming no emissions were recorded.
- Categorical columns like `Borough`, `Zone`, and `Source` will have missing values filled with `"Unknown"`.
- Numerical columns such as `Easting` and `Northing` will have missing values filled with the median of the column.

In [8]:
# Fill missing pollutant values with 0
data['nox'] = data['nox'].fillna(0)
data['pm10'] = data['pm10'].fillna(0)
data['pm2.5'] = data['pm2.5'].fillna(0)
data['so2'] = data['so2'].fillna(0)

# Fill missing categorical data with 'Unknown'
categorical_columns = ['Borough', 'Zone', 'Main Source Category', 'Sector', 'Source']
data[categorical_columns] = data[categorical_columns].fillna('Unknown')

# Fill missing numerical data (like Easting, Northing) with median values
numerical_columns = ['Easting', 'Northing']
for col in numerical_columns:
    data[col] = data[col].fillna(data[col].median())

# Display the updated structure of the dataset
data.head()

,Easting,Northing,Borough,Zone,Main Source Category,Sector,Source,nox,pm10,pm2.5,so2
0,510500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,0.0,0.021923,0.021923,0.0
1,511500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,0.0,0.017965,0.017965,0.0
2,512500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,0.0,0.022718,0.022718,0.0
3,515500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,0.0,0.023939,0.023939,0.0
4,516500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,0.0,0.022977,0.022977,0.0

### 8. Encoding Categorical Variables

We will convert categorical variables such as `Borough`, `Zone`, and `Main Source Category` into numerical features using **one-hot encoding**. This step ensures that the machine learning models can understand the categorical data.

In [9]:
# Step 8: One-hot encode categorical features
categorical_columns = ['Borough', 'Zone', 'Main Source Category', 'Sector', 'Source']
# Check if all categorical columns are in the dataset
missing_columns = [col for col in categorical_columns if col not in data.columns]
if missing_columns:
    print(f"Missing columns for encoding: {missing_columns}")
else:
    # Apply one-hot encoding if all columns are present
    data = pd.get_dummies(data, columns=categorical_columns, drop_first=True)

# Display the structure of the dataset
data.head()

,Easting,Northing,nox,pm10,pm2.5,so2,Borough_Barnet,Borough_Bexley,Borough_Brent,Borough_Bromley,...,Source_Passenger Shipping,Source_Passengers,Source_Resuspension,Source_STW,Source_Small Private Vessels,Source_Small Scale Waste Burning,Source_Taxi,Source_TfL Bus,Source_WTS,Source_Wood Burning
0,510500,203500,0.0,0.021923,0.021923,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,511500,203500,0.0,0.017965,0.017965,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,512500,203500,0.0,0.022718,0.022718,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,515500,203500,0.0,0.023939,0.023939,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,516500,203500,0.0,0.022977,0.022977,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

### 9. Outlier Detection and Removal

In this step, we will detect and remove outliers from the pollutant columns (`nox`, `pm10`, `pm2.5`, `so2`) using the **Interquartile Range (IQR)** method. This will help improve model performance by removing extreme values that could distort the modelâ€™s learning process.

In [10]:
# Define a function to remove outliers based on IQR
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

# Apply outlier detection and removal on pollutant columns
pollutant_columns = ['nox', 'pm10', 'pm2.5', 'so2']
for col in pollutant_columns:
    data = remove_outliers(data, col)

# Display the dataset after removing outliers
data.head()

,Easting,Northing,nox,pm10,pm2.5,so2,Borough_Barnet,Borough_Bexley,Borough_Brent,Borough_Bromley,...,Source_Passenger Shipping,Source_Passengers,Source_Resuspension,Source_STW,Source_Small Private Vessels,Source_Small Scale Waste Burning,Source_Taxi,Source_TfL Bus,Source_WTS,Source_Wood Burning
535,523500,198500,0.0,0.000445,0.000445,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
593,503500,193500,0.0,0.000303,0.000303,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
624,547500,192500,0.0,0.000010,0.000010,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
660,503500,189500,0.0,0.000689,0.000689,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
664,557500,189500,0.0,0.000722,0.000722,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

### 10. Feature Scaling

In this step, we will scale the numerical features using **StandardScaler**. This ensures that all features contribute equally to the model's performance, preventing features with larger scales from dominating.

In [11]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Define the columns that need scaling (numerical columns including pollutant and geographical data)
numerical_columns = ['Easting', 'Northing', 'nox', 'pm10', 'pm2.5', 'so2']

# Apply scaling on the numerical columns
data[numerical_columns] = scaler.fit_transform(data[numerical_columns])

# Display the scaled data
data.head()

,Easting,Northing,nox,pm10,pm2.5,so2,Borough_Barnet,Borough_Bexley,Borough_Brent,Borough_Bromley,...,Source_Passenger Shipping,Source_Passengers,Source_Resuspension,Source_STW,Source_Small Private Vessels,Source_Small Scale Waste Burning,Source_Taxi,Source_TfL Bus,Source_WTS,Source_Wood Burning
535,-0.440685,1.532204,-0.236545,0.548055,2.282011,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
593,-1.783024,1.145792,-0.236545,0.279388,1.426430,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
624,1.170122,1.068509,-0.236545,-0.276263,-0.343066,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
660,-1.783024,0.836662,-0.236545,1.011715,3.758555,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
664,1.841292,0.836662,-0.236545,1.074253,3.957710,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

### 11. Data Imbalance Check

In this step, we will check for any data imbalance in the target columns (nox, pm10, pm2.5, so2). If significant imbalance is detected, it need to be addressed during the model development phase through appropriate techniques such as model tuning or adjustments to the evaluation metrics.

In [12]:
# Check for imbalance in the target columns
for col in pollutant_columns:
    print(f"Distribution of {col}:")
    print(data[col].value_counts(normalize=True).head())  # Displaying normalized counts for quick overview
    print("\n")

Distribution of nox:
nox
-0.236545    0.825276
-0.153445    0.000828
-0.070345    0.000254
 0.012755    0.000147
-0.228716    0.000040
Name: proportion, dtype: float64


Distribution of pm10:
pm10
-0.295601    0.694786
-0.090745    0.000828
 0.114111    0.000254
 0.318967    0.000147
-0.257664    0.000107
Name: proportion, dtype: float64


Distribution of pm2.5:
pm2.5
-0.404647    0.694800
 0.129112    0.000828
 0.662872    0.000254
 1.196632    0.000147
-0.283837    0.000107
Name: proportion, dtype: float64


Distribution of so2:
so2
0.0    1.0
Name: proportion, dtype: float64

## 12. Splitting the Data for Training and Testing

Next, we will split the dataset into **train** and **test** sets to prepare it for model training. 80% of the data will be used for training and 20% for testing.

In [13]:
from sklearn.model_selection import train_test_split

# Step 10: Split the data into train and test sets
X = data.drop(columns=pollutant_columns)  # Features (everything except pollutant columns)
y = data[pollutant_columns]  # Targets (pollutants)

# 80% for training, 20% for testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the training and testing datasets
X_train.shape, X_test.shape, y_train.shape, y_test.shape

# Display the structure of the dataset
data.head()

,Easting,Northing,nox,pm10,pm2.5,so2,Borough_Barnet,Borough_Bexley,Borough_Brent,Borough_Bromley,...,Source_Passenger Shipping,Source_Passengers,Source_Resuspension,Source_STW,Source_Small Private Vessels,Source_Small Scale Waste Burning,Source_Taxi,Source_TfL Bus,Source_WTS,Source_Wood Burning
535,-0.440685,1.532204,-0.236545,0.548055,2.282011,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
593,-1.783024,1.145792,-0.236545,0.279388,1.426430,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
624,1.170122,1.068509,-0.236545,-0.276263,-0.343066,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
660,-1.783024,0.836662,-0.236545,1.011715,3.758555,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
664,1.841292,0.836662,-0.236545,1.074253,3.957710,0.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

### 13. Saving the Processed Data

After all preprocessing steps (handling missing values, encoding categorical variables, scaling numerical data, and splitting into train/test sets), we will save the final processed dataset in the `data/processed/` folder for use in training machine learning models.

In [14]:
# Combine features and targets for train and test datasets
train_combined = pd.concat([X_train, y_train], axis=1)
test_combined = pd.concat([X_test, y_test], axis=1)

# Save the combined train and test datasets
train_combined.to_csv(PROCESSED_TRAIN_PATH, index=False)
test_combined.to_csv(PROCESSED_TEST_PATH, index=False)

# Confirm the process
print(f"Processed training data has been saved to: {PROCESSED_TRAIN_PATH}")
print(f"Processed test data has been saved to: {PROCESSED_TEST_PATH}")

Processed training data has been saved to: ..\..\data\processed\train_data.csv
Processed test data has been saved to: ..\..\data\processed\test_data.csv